

/* =============================================================================== */
/* MAIN PAGE STYLING  */
/* =============================================================================== */

html {
    background-color: floralwhite;
}

/* Put text components in corners, fixed positions */
#credits {
    position: fixed;
    top: 1rem;
    left: 1rem;
    background-color: transparent;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}
#app-title {
    background-color: transparent;
    text-align: left;
    font-weight: 700;
    letter-spacing: 0.1ch;
    color:rgba(0, 0, 0, 0.5);
}
#credits p {
    margin: 0;
    font-size: small;
}

/* =============================================================================== */
/* COMMS SELECTION */
/* =============================================================================== */

#comms-selection-dropdown {
    margin: 1rem;
    font-size: large;
    padding: 5px 10px;
    border: 1px dashed darkgray;
    background: transparent;
    color: grey;
}

/* =============================================================================== */
/* CONSOLE STYLING */
/* =============================================================================== */

.console {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    width: 35vw;
    height: 27vh;

    border-radius: 30px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    background: linear-gradient(to right top, rgb(121, 121, 121) 33%,  rgb(70, 70, 70, 0.00) 75%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 20px;
    color: black;

    p {
        font-family: 'Courier New', Courier, monospace;
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-size: larger;
        margin: 0;
    }
    
}

/* =============================================================================== */
/* MAP DISPLAY STYLING  */
/* =============================================================================== */

.map-parent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    z-index: -1;
    height: 80%;
}
.map-parent img {
    height: 100%;
    width: auto;  
    display: block;
    z-index: -1;
}

/* =============================================================================== */
/* UI PANLES STYLING  */
/* =============================================================================== */

.connections-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 5;
}

.nodeControls {
    position: absolute;

    #panel {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.5);
        /* border: 5px white solid; */
        padding: 10px;
        border-radius: 10px;
        gap: 10px;
        font-size: small;
        text-align: center;
        transform: translate(0,-50%);
    }
    #panel:hover {
        background-color: white;
    }
    button {
        background-color: transparent;
        border: 2px solid black;
        padding: 4px 8px;
        border-radius: 4px;
        box-shadow: 10px solid black;
        font-size: x-small;
    }
    button:hover {
        background-color: lightgrey;
    }
    #dot {
        position: absolute;
        border: 4px black solid;
        border-radius: 4px;
        transform: translate(-50%, -50%);
        width: 0px;
        height: 0px;
    }
}

.nodeControls:hover {
    z-index: 1000;
}